.ChatPdiv{
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #00000036;
    height: 50vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.inputContainer{
    overflow-y: auto;
    display: flex;
    flex-flow: columns;
    align-items: center;
    justify-content: space-around;
}